.appear {
    animation: fade-in 1s forwards;
    display: block;
}

.disappear {
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }    
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

html {
    overscroll-behavior: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/0.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Jeju Gothic', sans-serif;
    color: white;
}

h1 {
    margin: 0px;
    font-size: 90px;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
    height: auto;
    padding: 10px;
    font-family: inherit;
    font-size: 30px;
    outline: none;
    border: none;
    text-align: center;
    color: white;
    transition: all 0.4s;
}   
    input:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
        input:hover::-webkit-input-placeholder {
            color: rgba(50, 50, 50, 1.0);
        }
    
    input:focus {
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid white;
    }

    input#login-text {
        width: 450px;
        color: white;
    }

    input#todo-text {
        width: 500px;
    }

    input[type="submit"] {
        border-radius: 10px;
        margin-left: 10px;
        height: 50px;
    }
        input[type="submit"]:active {
            background-color: rgba(255, 255, 255, 0.1);
        }

#first-page {
    text-align: center;
}

#enter-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#clock {
    margin: 0px;
    font-size: 125px;
}

#login-form {
    height: 50px;
}

#todo-block {
    float: left;
    margin: 40px;
    margin-top: 150px;
    text-align: center;
}
    #todo-list {
        overflow-x: hidden;
        overflow-y: auto;
        overscroll-behavior: contain;
        width: 500px;
        height: 600px;
        font-size: 30px;
    }

    li {
        list-style: none;
        margin: 20px;
        text-align: left;
    }
        span {
            transition: all 0.4s;
        }
        span:hover {
            color: skyblue;
            background-color: rgba(255, 255, 255, 0.2);
        }
    
    button {
        position: flex;
        top: 0;
        margin: 5px;
        margin-right: 15px;
        border: 5px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
        color: inherit;
        font-size: 30px;
        transition: all 0.4s;
    }
        button:hover {
            color: tomato;
        }

#info {
    float: right;
    margin-right: 50px;
    text-align: right;
}

#weatherinfo {
    margin-right: 0px;
    height: 70px;
}

#weathericon {
    z-index: 10;
    float: right;
    width: 70px;
    height: 70px;
}

#weather,
#city {
    margin: 0px;
    margin-bottom: 10px;
    height: 25px;
    font-size: 25px;
}

footer {
    text-align: center;
}

#quote {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}